<html>
  <head>
  </head>
  <body>
    <table >
        <tbody>
          <tr>
            <td style="width: 440px; font-size: 16px; ">
              <p><br><br>Quotation Date From: <%= @start_date %> To: <%= @end_date %> </p>
            </td>
            <td style="width: 380px; text-align: center; ">
                <b style="font-size: 24px; ">Hong Kong Testing Co., Ltd.</b>
                Quotation summary
            </td>
            <td style="width: 440px; font-size: 16px; text-align: right; ">
            <br>
                <div class="page-count" style="text-align: right;" >
                    <span class="page"></span> of <span class="topage"></span>
                    <br>Report Date: <%= Date.today %>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
  </body>
</html>