<div class="row ">
	<div  class="col-xs-12 col-md-12  ">
    	<h4 style="text-align:center;"><%= t('movie-topic-1') %>
    	<p style="text-align:center;"><%= t('movie-topic-2') %></p>
 
<br>
		<div class="card text-center">
		  <div class="card-header"> 
		   	<%= t('movie-0') %> 
		  </div>
		  	<div class="card-body embed-responsive embed-responsive-4by3">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/gxIFcYTvots" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		  </div>
		</div>

		<div class="card text-center">
			<div class="card-header"> 
				 <%= t('movie-1') %> 
			</div>
				<div class="card-body embed-responsive embed-responsive-4by3">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/9c4HISRGU74" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		  </div>

	</div>
	<br><br>
</div>
