<!-- Header -->
<header id="top" class="header">

      <div class="row">
          <div class="col-lg-12 col-lg-offset-1 text-center">
     
           <br><br><br><br><br><br><br><br><br>         
       
 

          <div class="container">
            <h1 class=text-blue><%= t('landing-1') %></h1>
            <h1 class=text-blue><%= t('landing-2') %></h1>
          </div>
          <br><br><br><br>  

		<%= link_to t('login'), new_user_session_path, class: "btn btn-warning btn-lg"%>
            <br><br><br> <br><br>

       </div>


 
</header>
<br><br>


